@media only screen and (max-width: 979px) {
  %navbar_contents {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: $vividRed;
    border: none;
    font-family: "DIN";
    font-size: 5vw;
  }

  %container {
    width: 100%;
    margin-top: 10%;
  }

  %container-h2 {
    font-family: "DIN";
    font-size: 8vw;
    margin: 5% 10%;
  }

  %container-p {
    font-family: "GMEDIUM";
    white-space: pre-wrap;
    font-size: 3.5vw;
    margin: 5% 10%;
  }

  %container-box-h3 {
    font-family: "GLIGHT";
    font-size: 4vw;
  }

  %container-box-p {
    text-align: left;
    margin: 1em;
    font-family: "GLIGHT";
    font-size: 3.5vw;
  }

  %section-button {
    margin: 0 0 10% 0;
    background-color: black;
    width: 70%;
    height: 2.5em;
    color: white;
    border: none;
    padding: 0px;
    font-family: "DIN";
    font-size: 5vw;

    &:hover {
      background-color: $darkRed;
    }
  }

  %box {
    margin-top: 10%;
    width: 100%;
  }

  %bookmark {
    margin-top: 10%;
    width: 10%;
  }

  .App {
    text-align: center;
  }

  .MobileButton {
    @extend %section-button;
  }

  .NavbarContainer {
    .NavbarLarge {
      display: none;
    }

    .NavbarSmall {
      background-color: white;
      width: 100%;
      height: auto;

      .LogoButton {
        display: flex;

        .Logo {
          align-self: flex-start;
          width: 20%;
          margin: auto auto auto 5%;
        }
        .ThreeLines {
          margin: auto 5% auto auto;
          font-size: 10vw;
          background-color: white;
          border: none;
        }
      }

      .MobileBGImage {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
        img {
          width: 100%;
          height: auto;
          position: relative;
          animation-name: move;
          animation-duration: 5s;
          animation-fill-mode: forwards;

          @keyframes move {
            0% {
              left: 100%;
              filter: brightness(0);
              background-color: black;
            }
            30% {
              left: -100%;
              filter: brightness(0);
              background-color: black;
            }
            100% {
              left: 0%;
            }
          }
        }
      }

      .DropDown {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 50% 50%;
      }

      .AboutUs {
        grid-row: 1;
        grid-column: 1 / span 2;
        @extend %navbar_contents;
      }

      .Field {
        grid-row: 2;
        grid-column: 1 / span 2;
        @extend %navbar_contents;
      }
      .Price {
        grid-row: 3;
        grid-column: 1 / span 2;
        @extend %navbar_contents;
      }
      .Blog {
        grid-row: 4;
        grid-column: 1 / span 2;
        @extend %navbar_contents;
      }
      .EmailLogo {
        grid-row: 5;
        grid-column: 1;
        background-color: $darkRed;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
        }
      }
      .TelLogo {
        grid-row: 5;
        grid-column: 2;
        background-color: $vividRed;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
        }
      }
    }
  }

  .AboutUsContainer {
    @extend %container;

    img {
      @extend %bookmark;
    }

    h2 {
      @extend %container-h2;
    }

    p {
      @extend %container-p;
    }

    button {
      @extend %section-button;
    }
  }

  .FieldContainer {
    @extend %container;
    background-color: $grey;

    img {
      @extend %bookmark;
    }

    h2 {
      @extend %container-h2;
    }

    p {
      @extend %container-p;
    }

    .FieldBoxesContainer {
      margin: 10%;
      display: inline-grid;
      grid-template-columns: 1fr;

      .FieldBox {
        @extend %box;
        display: grid;
        grid-template-rows: 25%, 50%, 25%;
        background-color: white;

        h3 {
          @extend %container-box-h3;
        }

        p {
          @extend %container-box-p;
        }

        button {
          background-color: black;
          width: 100%;
          height: 3em;
          color: white;
          border: none;
          padding: 0;
          font-family: "GMEDIUM";
          font-size: large;
          text-align: right;
          font-size: 4vw;
          &:hover {
            background-color: $darkRed;
          }
        }
      }
    }
  }

  .BlogContainer {
    @extend %container;

    img {
      @extend %bookmark;
    }

    h2 {
      @extend %container-h2;
    }

    .BlogBoxesContainer {
      grid-template-columns: 1fr;
      grid-gap: 2.5em;
      margin: 10%;
    }

    .BlogBox {
      @extend %box;
      grid-template-rows: 10% 20% 20% 30% 20%;

      .blogTagDate {
        text-align: left;
        font-size: 4vw;

        @for $i from 1 through 3 {
          .Tag:nth-child(#{$i}) {
            background-color: nth($tagColors, $i);
          }
        }

        .Tag {
          color: white;
          display: inline-block;
          margin-right: 5%;
          padding: 1%;
        }

        .Date {
          display: inline-block;
        }
      }

      .BlogImage {
        width: 100%;
      }

      h3 {
        text-align: left;
        @extend %container-box-h3;
      }

      p {
        @extend %container-box-p;
      }

      button {
        display: block;
        width: 100%;
        border-color: $grey;
        background-color: white;
        height: 3em;
        margin: 5% auto;
        font-family: "DIN";
        font-size: 5vw;
        &hover {
          background-color: $vividRed;
          border: none;
          color: white;
        }
      }
    }
  }

  .Footer {
    position: relative;
    background-color: $grey;
    display: grid;

    .Privacy {
      text-align: left;
      margin-left: 0.5em;
      font-family: "GREG";
      font-size: 2vw;
    }

    .BackTop {
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      color: white;
      width: 3em;
      height: 3em;
      font-size: 4vw;
    }

    img {
      margin: 5% auto;
      width: 20%;
    }

    .Address {
      white-space: pre-wrap;
      text-align: left;
      margin: 5% auto;
      font-family: "GREG";
      font-size: 3vw;
    }

    .CopyRight {
      font-size: 3vw;
    }
  }
}
