@font-face {
  font-family: "DIN";
  src: url(../fonts/DINCondensed-Bold.ttf);
}

@font-face {
  font-family: "GLIGHT";
  src: url(../fonts/A-OTF-GothicMB101Pro-Light.otf);
}

@font-face {
  font-family: "GBOLD";
  src: url(../fonts/A-OTF-GothicMB101Pro-Bold.otf);
}

@font-face {
  font-family: "GREG";
  src: url(../fonts/A-OTF-GothicMB101Pro-Reg.otf);
}

@font-face {
  font-family: "GMEDIUM";
  src: url(../fonts/A-OTF-GothicMB101Pro-Medium.otf);
}
